/* Basic "needed" things */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color1: rgb(192, 192, 192);
    --section-color1: rgb(236, 236, 236);
    --highlight-color1: rgba(221, 174, 174, 0.699);
}

/* Navbar */
nav {
    background-color: rgb(109, 109, 109);
    width: 100%;
    min-width: 600px;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, monospace, Arial, Helvetica, sans-serif;
}

#banner > p {
    color: white;
    line-height: 80px;
    margin-left: 60px;
    margin-right: 30px;
    min-width: 32px;
    font-size: 40px;
    white-space: nowrap;
}

.nav-links {
    background-color: rgb(109, 109, 109);
    color: white;
    height: 80px;
    display: flex;
    white-space: nowrap;
}

.nav-links li {
    display: inline;
    vertical-align: middle;
    line-height: 80px;
    list-style-type: none;
    font-size: 26px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 24px 20px;
}

#last-nav {
    margin-right: 60px;
}

.nav-links li:hover, .nav-links li:visited {
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}

@media (max-width: 1000px) {
    #banner > p {
        font-size: 30px;
    }
    
    .nav-links li {
        font-size: 18px;
    }

    .nav-links a {
        padding: 29px 5px;
    }
}

@media (max-width: 836px) {
    #banner > p {
        font-size: 24px;
    }
    
    .nav-links li {
        font-size: 14px;
    }

    .nav-links a {
        padding: 31px 20px;
    }
}

@media (max-width: 704px) {
    #banner > p {
        font-size: 20px;
        margin-right: 15px;
        margin-left: 50px;
    }
    
    .nav-links li {
        font-size: 12px;
    }

    .nav-links a {
        padding: 32px 20px;
    }
}

@media (max-width: 600px) {
    #banner > p {
        font-size: 15px;
        margin: -2px 10px 0 30px;
    }
    
    .nav-links {
        padding-right: -100px;
    }

    .nav-links li {
        font-size: 10px;
    }

    .nav-links a {
        padding: 34px 5px;
    }

    #last-nav {
        margin-right: 10px;
    }
}

/* Body */
body {
    width: 100%;
    height: auto;
    background: var(--body-color1);
}

.main {
    margin: 120px 0 10px 0;
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

/* Blog Main */

.blog section {
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    min-height: 100px;
    font-size: 20px;
    font-family: monospace;
}

.post-title {
    font-size: 22px;
    padding: 0 5px;
}

.blog section li {
    margin: 6px 45px 6px;
    padding: 9px;
    background-color: var(--highlight-color1);
    border-radius: 4px;
}

.blog p:not(:first-child) {
    margin: 20px;
}

article em {
    background-color: var(--highlight-color1);
    padding: 0 5px;
}

.post-title em {
    background-color: rgba(0, 0, 0, 0);
}

article a, article a:hover, article a:visited, article a:link {
    color: rgb(255, 0, 0);
}
