/* Basic "needed" things */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color1: rgb(192, 192, 192);
    --highligt-color1: rgba(221, 174, 174, 0.699);
}

/* Body */
body {
    width: 100%;
    height: auto;
    background: var(--body-color1);
}

/* Main */
main {
    margin: 90px 0 10px 0;
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

main section {
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    min-height: 100px;
    font-size: 20px;
    font-family: monospace;
}

.post-title {
    font-size: 22px;
    padding: 0 5px;
}

section li {
    margin: 6px 45px 6px;
    padding: 9px;
    background-color: var(--highligt-color1);
    border-radius: 4px;
}

p:not(:first-child) {
    margin: 20px;
}

article em {
    background-color: var(--highligt-color1);
    padding: 0 5px;
}

.post-title em {
    background-color: rgba(0, 0, 0, 0);
}

article a, article a:hover, article a:visited {
    color: rgb(255, 0, 0);
}







#about {
    background-color: rgb(255, 0, 0);
    padding: 10px;
}

#projects {
    background-color: rgb(60, 255, 0);
    padding: 10px;
}

#contact {
    background-color: rgb(255, 187, 0);
    padding: 10px;
}

/* Footer */