h2 {
    color: #5FCFFC;
    background-color: rgb(81, 151, 0);
}

p {
    color: olive;
    background-color: aliceblue;
}

button {
    color: green;
    background-color: aliceblue;
}

body {
    background-color: #C5E;
}