*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 400px;
    min-height: 400px;
    width: 100%;
    height: 100%;
}

/* Nav Section */

header {
    width: 100%;
    height: 67px;
    background-color: rgb(233, 47, 47);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
    top: 0;
    position: fixed;
    display: block;
}

header #navbar {
    float: right;
    padding: 22px 20px 23px 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    word-spacing: -6px;
}

#navbar ul li {
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
}

header #navbar ul li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 22px 20px 23px 20px;
}

#navbar ul li a:hover {
    background-color: rgb(94, 94, 94);
}


/* Welcome Section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(
        45deg,
        rgb(51, 51, 51),
        rgb(17, 17, 17)
    );
}

#welcome-section h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 4em;
}

#welcome-section p {
    color: rgb(233, 47, 47);
    font-size: 1.6em;
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
    margin-top: -5px;
}

/* Project Section */

#project-section {
    background: linear-gradient(
        rgb(233, 47, 47),
        rgb(0, 0, 0)
    );
    padding: 80px 0 100px 0;
}

#projects {
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
    row-gap: 60px;
    width: 1100px;
}

#projects-banner {
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 300px;
    margin: 30px auto 30px auto;
    color: white;
}

.project-tile {
    text-align: center;
    width: 500px;
    padding-bottom: 3px;
}

.project-tile a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    width: 500px;
    padding-bottom: 50px;
    background-color: rgb(44, 44, 44);
}

.project-pic {
    width: 500px;
    height: auto;
}

#show-more {
    display: grid;
    justify-items: center;
    margin-top: 50px;
}

#show-more button {
    font-size: 1.5em;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(233, 47, 47);
    box-shadow: 0px 0px 2px black;
}

#show-more button:hover {
    cursor: pointer;
}


/* Contact Me Section */

#contact-me {
    background-color: rgb(70, 69, 69);
    height: 350px;
}

#socials {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#socials h1 {
    font-size: 3em;
}

#socials p {
    font-size: 1.5em;
    padding-bottom:50px;
}

#socials a, #socials:visited {
    color: rgb(255, 255, 255);
    font-size: 3em;
}

/* Footer */

footer {
    height: 50px;
    background-color: rgb(24, 24, 24);
}

footer > p {
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 1.3em;
}

@media (max-width: 600px) {
    #projects {
        width: 400px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #projects-banner {
        font-size: 2em;
    }
    
    .project-pic {
        width: 400px;
    }

    .project-tile {
        width: 400px;
    }


    #contact-me {
        height: 280px;
    }

    #socials h1 {
        font-size: 2em;
    }
    
    #socials p {
        font-size: 1.2em;
        padding-bottom:50px;
    }

    #socials a, #socials:visited {
        color: rgb(255, 255, 255);
        font-size: 2.2em;
        padding: 0 40px;
    }

    footer > p {
        font-size: 1em;
    }
}
