body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    width: 310px;
    min-width: 310px;
    background-color: pink;
    position: relative;
}

#navbar header {
    font-size: 26px;
    padding: 15px 10px 0 10px;
    text-align: center;
}

#navbar ul {
    background-color: magenta;
    list-style-type: none;
}

#navbar li {
    padding: 10px;
    font-size: 18px;
    list-style: none;
    border-top: 1px solid black;
    width: 100%;
    position: relative;
}

#main-doc {
    flex: 1;
    border: 2px solid black;
    padding: 28px 35px;
    font-size: 15px;
}

#main-doc header {
    font-size: 28px;
}

#main-doc p {
    padding: 0 20px;
}

#main-doc ul {
    padding-left: 80px;
}

#main-doc li {
    padding: 10px 0;
}